<h2> dogWalkers </h2>
<div>
<ul> 
{{#each dogWalker}}
{{#if this.workingCurrently}}


<li> 

<form id="updateWalker" class="create-update-form" action="/{{this.id}}?_method=PUT" method="POST">
{{this.id}}. {{this.name}}  (L- {{this.large}}) (M- {{this.medium}}) (S- {{this.small}})  
<input type="hidden" name="workingCurrently" value="false">
<input type="submit" name="submit" id="submit" class="btn-primary btn" value="Take {{this.name}} off our current work schedule">
</form>


</li>		

{{/if}}
{{/each}}
</ul>
</div>